[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pandas = "*"
autopep8 = "*"
djongo = "*"
dnspython = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
apscheduler = "*"
firebase-admin = "*"
django-heroku = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
